<div class="acard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Product</mat-card-title>
            <div class="top-right" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">

            </div>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <mat-form-field class="dd">
                <input matInput placeholder="Filter">
            </mat-form-field>

            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.ProductId}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ProductName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.ProductName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Manufacturer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Manufacturer}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MRP">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MRP}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 5, 10, 15]"></mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>