.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
table {
  width: 100%;
}



   .full{
    width: 500px;
    margin-top: 50px;
}

  
  .top-right{
  position: absolute;
  top: 8px;
  right: 2px;
  
}
.table { 
  overflow: scroll;
}

mat-cell{
  
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;

}
.acard{
  padding: 5px;
  margin: 5px;
}

th{
  color: black;
}
mat-card-title{
  color: darkblue;
}

.dd{
  width:30%;
}