<div class="acard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Customer List</mat-card-title>
            <!-- <div class="top-right" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">
                <button mat-button class="b">
                    <mat-icon>add_circle_outline</mat-icon> Add
                </button>

            </div> -->
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <mat-form-field class="dd">
                <input matInput placeholder="Filter">
            </mat-form-field>

            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="CustomerId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.CustomerId}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CustomerName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.CustomerName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Email}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="PhoneNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.PhoneNumber}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 5, 10, 15]"></mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>