<div class="acard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Inventory</mat-card-title>
            <div class="top-right" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">
                <button mat-button class="b" (click)="addinventory()" *ngIf="rolesPermission.AddPermission == true">
                    <mat-icon>add_circle_outline</mat-icon> Add
                </button>

            </div>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <mat-form-field class="dd">
                <input matInput placeholder="Filter">
            </mat-form-field>

            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.InventoryId}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ProductName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MstProduct.ProductName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DistributorName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MstDistributor.DistributorName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Units">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Units</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Units}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DistributorPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor Price</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.DistributorPrice}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DeliverdOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deliverd On</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.DeliveredOn | date:'dd/MM/yyyy'}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 5, 10, 15]"></mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>