<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h4 class="t-css">Do you want status {{status}}</h4>
        </div>
    </div>
    <div style="display: inline-flex;float: right;margin-top: 20px;" fxLayoutGap="5px" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" (click)="submit()">
            Submit</button>
        <button mat-flat-button color="warn" (click)="close()"> Close</button>
    </div>
</div>