<div>

    <h2 fxLayoutAlign="center center">User Form</h2>

    <form fxLayout="column" [formGroup]="fg">


        <div class="row">
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="First Name" formControlName="FirstName" required>
                    <!-- <mat-error *ngFor="let validation of error_messege.firstName">
                        <mat-error class="error-messege"
                            *ngIf="f.get('firstName').hasError(validation.type) && (f.get('firstName').dirty || f.get('firstName').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Last Name" formControlName="LastName" required>
                    <!-- <mat-error *ngFor="let validation of error_messege.lastName">
                        <mat-error class="error-messege"
                            *ngIf="f.get('lastName').hasError(validation.type) && (f.get('lastName').dirty || f.get('lastName').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Email" formControlName="UserName" required>
                    <!-- <mat-error *ngFor="let validation of error_messege.email">
                        <mat-error class="error-messege"
                            *ngIf="f.get('email').hasError(validation.type) && (f.get('email').dirty || f.get('email').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="dd" style="width: 100%;">
                    <mat-label>Role </mat-label>
                    <mat-select formControlName="RoleId" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role.RoleId">{{role.RoleName}}</mat-option>
                    </mat-select>
                    <mat-error>Role Name is Required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="dd" style="width: 100%;">
                    <input matInput placeholder="Phone Number" formControlName="PhoneNumber" minlength=10 maxlength=12
                        required>
                    <!-- <mat-error *ngFor="let validation of error_messege.cellNumber">
                        <mat-error class="error-message"
                            *ngIf="f.get('cellNumber').hasError(validation.type) && (f.get('cellNumber').dirty || f.get('cellNumber').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <mat-radio-group formControlName="Gender" class="dd" required>
                    <label>Gender</label><br />
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender.value"
                        [checked]="this.user.Gender == gender.value">
                        {{gender.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput [max]="maxNewDate" [matDatepicker]="picker" placeholder="Birth date"
                        formControlName="DOB">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="col-sm-6">
            <mat-checkbox style="margin-top: 5px;" type="checkbox" formControlName="Lock" class="dd">Active
            </mat-checkbox>
        </div>
        <div style="display: inline-flex;float: right;" fxLayoutGap="5px" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="update()">
                Update</button>
            <button mat-flat-button color="warn" (click)="cancel()"> Cancel</button>
        </div>

    </form>

</div>