<div class="acard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Distributor</mat-card-title>
            <div class="top-right" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <mat-form-field class="dd">
                <input matInput placeholder="Filter">
            </mat-form-field>

            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.DistributorId}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DistributorName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.DistributorName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Code">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Code}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="PhoneNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.PhoneNumber}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Address}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ContactPerson">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.ContactPerson}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 5, 10, 15]"></mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>