<div class="acard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sales Order</mat-card-title>
            <div class="top-right" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">
                <button mat-button class="b" (click)="addsales()" *ngIf="rolesPermission.AddPermission == true">
                    <mat-icon>add_circle_outline</mat-icon> Add
                </button>

            </div>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <mat-form-field class="dd">
                <input matInput placeholder="Filter">
            </mat-form-field>

            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Id}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CustomerName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MstCustomer.CustomerName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ProductName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MstProduct.ProductName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DistributorName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MstDistributor.DistributorName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MRP">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MRP}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Dicount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dicount</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.DiscountPer}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DiscountPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount Price</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.DiscountVal}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Price}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let row">


                            <button mat-icon-button color="primary" *ngIf="rolesPermission.EditPermission == true">
                                <mat-icon aria-label="Edit" (click)="editSales(row)">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="warn" (click)="delete(row)"
                                *ngIf="rolesPermission.DeletePermission == true">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 5, 10, 15]"></mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>