<div>
    <h2 fxLayoutAlign="center center">Add Inventory</h2>
    <form fxLayout="column" [formGroup]="fg">
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Product List </mat-label>
                    <mat-select formControlName="ProductId" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let product of products" [value]="product.ProductId">{{product.ProductName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Distributor Name </mat-label>
                    <mat-select formControlName="DistributorId">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let distributor of distributor" [value]="distributor.DistributorId">
                            {{distributor.DistributorName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput placeholder="Units" formControlName="Units" required>

                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput placeholder="Distributor Price" formControlName="DistributorPrice" required>

                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Delivered On</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="DeliveredOn">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div style="display: inline-flex;float: right;margin-top: 10px;" fxLayoutGap="5px"
            fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="onclick()">
                Add</button>
            <button mat-flat-button color="warn" (click)="cancel()"> Cancel</button>
        </div>

    </form>

</div>