<div>
    <h3 fxLayoutAlign="center center"> Sales Order</h3>
    <form fxLayout="column" [formGroup]="fg">
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Product List </mat-label>
                    <mat-select [compareWith]="compareObjects" formControlName="ProductId"
                        (selectionChange)="productChange($event.value)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let product of products" [value]="product">{{product.ProductName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Distributor Name </mat-label>
                    <mat-select [compareWith]="compareObjects" formControlName="DistributorId"
                        (selectionChange)="distribtionChange($event.value)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let distributor of distributor" [value]="distributor">
                            {{distributor.DistributorName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Customer Name </mat-label>
                    <mat-select formControlName="CustomerId">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let Customer of Customer" [value]="Customer.CustomerId">
                            {{Customer.CustomerName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Distributor Price" formControlName="DistributorPrice" readonly
                        required>

                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>Discount(%)</mat-label>
                    <input matInput formControlName="DiscountPer" (change)="discountCal()" style="color: black;">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>Discount Amount</mat-label>
                    <input formControlName="DiscountVal" readonly matInput placeholder="Discount Amount">
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>MRP</mat-label>
                    <input matInput formControlName="MRP" readonly style="color: black;">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>Total Amount</mat-label>
                    <input formControlName="Price" readonly matInput placeholder="Total Amount">
                </mat-form-field>
            </div>

        </div>

        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Order Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="DeliveredOn">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


            </div>
        </div> -->


        <div style="display: inline-flex;float: right;margin-top: 10px;" fxLayoutGap="5px"
            fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="update()">
                Update Order</button>
            <button mat-flat-button color="warn" (click)="cancel()"> Cancel</button>
        </div>

    </form>

</div>