<div class="authentication-wrapper authentication-3">
    <div class="authentication-inner">

        <!-- Side container -->
        <!-- Do not display the container on extra small, small and medium screens -->
        <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5"
            style="background-image: url('../../../assets/images/store1.jpg');">
            <div class="ui-bg-overlay bg-dark opacity-50"></div>

            <!-- Text -->
            <div class="w-100 text-white px-5">
                <!-- <h1 class="display-2 font-weight-bolder mb-4" style="position: relative!important">
                    Welcome to <br>Chuma Chatu</h1> -->
                <div class="text-large font-weight-light" style="position: relative!important">
                    <!-- <i>Signin to your account and get explore the Able Pro Dashboard Template.
                        Do not forget to play with live customizer</i> -->
                </div>
            </div>
            <!-- /.Text -->
        </div>
        <!-- / Side container -->

        <!-- Form container -->
        <div class="d-flex col-lg-4 align-items-center bg-white p-5">
            <!-- Inner container -->
            <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
            <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
                <div class="w-100">

                    <!-- Logo -->
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="">
                            <div class="position-relative">
                                <img src="../../../assets/images/l3.png" width="200" height="200">
                            </div>
                        </div>
                    </div>
                    <!-- / Logo -->

                    <h4 class="text-center text-lighter font-weight-normal mt-5 mb-0">
                        Log in to your account</h4>

                    <!-- Form -->
                    <form class="my-5" #loginForm="ngForm" [formGroup]="fg">
                        <div class="form-group">
                            <div fxLayout="column">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter The User Name" formControlName="userName">
                                    <!-- <mat-error *ngFor="let validation of error_messege.email">
                                        <mat-error class="error-messege"
                                            *ngIf="f.get('email').hasError(validation.type) && (f.get('email').dirty || f.get('email').touched)">
                                            {{validation.message}}
                                        </mat-error>
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div fxLayout="column">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="password" placeholder="Enter The Password" autocomplete="off"
                                        formControlName="password">
                                    <!-- <mat-error *ngFor="let validation of error_messege.password">
                                        <mat-error class="error-messege"
                                            *ngIf="f.get('password').hasError(validation.type) && (f.get('password').dirty || f.get('password').touched)">
                                            {{validation.message}}
                                        </mat-error>
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div>

                            <!-- <label class="custom-control custom-checkbox m-0"> -->
                            <!-- <input type="checkbox" class="custom-control-input" name="rememberMe"
                            formControlName="rememberMe">
                        <span class="custom-control-label">{{ 'login.remember_me' | flowTranslate }}</span> -->
                            <!-- </label> -->
                            <div class="row" style="text-align: center;">

                                <div class="col-md-6">
                                    <button class="loginbutton" mat-raised-button (click)="login()">Sign In</button>



                                </div>
                                <div class="col-md-6">
                                    <button class="loginbutton" mat-raised-button (click)="register()">Register</button>
                                </div>
                                <!-- <div class="col-md-6">
                                    <button
                                        class="btn text-white bg-facebook mb-2 mr-2  wid-40 px-0 hei-40 rounded-circle"
                                        (click)="signInWithFB()"></button>
                                </div>

                                <div class="col-md-6 button">
                                    <button
                                        class="btn text-white bg-googleplus mb-2 mr-2 wid-40 px-0 hei-40 rounded-circle"
                                        (click)="signInWithGoogle()"></button>
                                </div>
                                <div class="col-md-6">
                                    <button (click)="signOut()">Sign In</button>
                                </div> -->
                            </div>


                            <!-- <div class="button" fxLayoutAlign="end">
                                <button mat-raised-button (click)="login()">Sign
                                    in</button>
                            </div> -->

                            <!-- <div class="container">
                                <i class="fa fa-user" aria-hidden="true" style="font-size:40px;"></i>
                                <span class="badge badge-notify">3</span>
                            </div> -->


                            <div class="mb-2 mt-2" style="text-align: center;">OR</div>
                            <!-- <div> -->

                            <!-- <button class="btn text-white bg-twitter mb-2  wid-40 px-0 hei-40 rounded-circle"><i
                                    class="fab fa-twitter"></i></button> -->
                            <!-- </div> -->
                            <div style="text-align: center;">
                                <a (click)="forgotpassword()" style="color: blue;cursor: pointer;">Forgot
                                    Password</a>
                            </div>
                        </div>
                        <!-- <div class="col-md-12 text-center">
                                <a href="#" class="fb btn" (click)="signInWithFB()">
                                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                                </a>

                            </div>
                            <div class="col-md-12 text-center" (click)="signInWithGoogle()">
                                <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                                    </i> Login with Google+
                                </a>

                            </div>
                            <div class="col-md-12 text-center">
                                <a href="#" class="twitter btn">
                                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                                </a>

                            </div> -->


                    </form>
                    <!-- / Form -->

                    <!--<div class="text-center text-muted">-->
                    <!--Don't have an account yet? <a href="javascript:void(0)" (click)="$flow.sysNavigate('register')">Sign Up</a>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
        <!-- / Form container -->

    </div>
</div>