/* .example-card {
  max-width: 400px;
}

.example-header-image {
    
  background-size: cover;
}

.cardcontent{
   width: 350px;
}
.card{
    height: 500px;
    margin-top: 70px;
    
}
button{

margin: 2px;
}
.example-card {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 15px rgba(0,0,0,0.22);
}
mat-card-title{
  color:white;
 margin-left: 20px
}

mat-card-header{
  background-color:powderblue;

 
}
mat-card-content{
margin-top: 10px;
}

mat-form-field{
  margin-top:10px ;
}
mat-chip {
  max-width: 200px;
}

.specer{
    flex: 1 1 auto;
}

mat-icon{
  color:darkcyan;
}*/

.loginbutton{
  color:black;
  background-color:powderblue ;
  min-width: 130px;
  line-height: 45px;
} 


$authentication-1-inner-max-width: 300px !default;
$authentication-2-inner-max-width: 380px !default;
$authentication-4-inner-max-width: 800px !default;

 .authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;

  .authentication-inner {
    width: 100%;
  }

  &.authentication-1,
  &.authentication-2,
  &.authentication-4 {
    align-items: center;
    justify-content: center;
  }

  &.authentication-1 .authentication-inner {
    max-width: $authentication-1-inner-max-width;
  }

  &.authentication-2 .authentication-inner {
    max-width: $authentication-2-inner-max-width;
  }

  &.authentication-3 {
    align-items: stretch;
    justify-content: stretch;

    .authentication-inner {
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
      justify-content: stretch;
    }
  }

  &.authentication-4 .authentication-inner {
    max-width: $authentication-4-inner-max-width;
  }
}

// IE 10-11 fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .authentication-wrapper:after {
    content: '';
    display: block;
    flex: 0 0 0%;
    min-height: inherit;
    width: 0;
    font-size: 0;
  }
}

.ui-bg-overlay-container .ui-bg-overlay

{position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}
.opacity-50{
  opacity: .5 !important;
}
.ui-bg-cover{
  background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-size: cover;
}

.ui-bg-overlay-container, .ui-bg-video-container{
  position: relative !important;
}
.ui-bg-overlay-container > , .ui-bg-video-container > {
  position: relative !important;  
}


.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

    .saprator {
        position: relative;
        margin: 8px 0;

        span {
            background: #fff;
            position: relative;
            padding: 0 10px;
            z-index: 5;
            font-size: 20px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            width: 100%;
            height: 1px;
            // background: $theme-border;
            z-index: 1;
        }
    }

    .btn:hover {
  opacity: 1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #373a3c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 1.1875rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.hei-40 {
    height: 40px;
}
.wid-40 {
    width: 40px;
}
.bg-facebook {
    background: #3C5A99;
}

.bg-googleplus {
    background: #C73E2E;
}
.bg-twitter {
    background: #42C0FB;
}
.text-white {
    color: #fff !important;
}
.pl-0, .px-0 {
    padding-left: 0 !important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

// button, select {
//     text-transform: none;
// }
// button, input {
//     overflow: visible;
// }
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


















* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */


/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.mat-form-field {
    display:block !important; 
    position: relative;
    text-align: left;
}