<div style="height: 80vh;" fxLayout="column" fxFlexFill>
    <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch"
        style="z-index: 2">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Store Management</span>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md *ngFor="let m of roleMenu">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <!-- <div *ngFor="let m of roleMenu"> -->
                <a [routerLink]="[m.menus.RouterLink]" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>{{m.menus.Icon}}</mat-icon> {{m.menus.MenuName}}
                </a>
                <!-- </div> -->
                <!-- <a [routerLink]="['user']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>person</mat-icon> User
                </a>
                <a [routerLink]="['product']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Product
                </a>
                <a [routerLink]="['inventory']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Inventory
                </a>
                <a [routerLink]="['distributor']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Distributor
                </a>
                <a [routerLink]="['sales-order']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Sales Order
                </a>
                <a [routerLink]="['customer']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Customer
                </a> -->
            </div>
            <span class="example-spacer "></span>
            <button mat-button [matMenuTriggerFor]="belowMenu">{{fullname | titlecase}}
                <mat-icon mat-icon-button>account_circle</mat-icon>
            </button>
            <mat-menu #belowMenu="matMenu" yPosition="below">

                <div mat-menu-item style="color: blue;" [routerLink]="['profile']">
                    <!-- <mat-icon mat-icon-button style="color: blue;">person</mat-icon> -->
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Profile
                </div>
                <div mat-menu-item style="color: blue;">
                    <i class="fa fa-key fa-lg" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Change Password
                </div>

                <div mat-menu-item (click)="logout()" style="color: blue;">
                    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;Logout
                </div>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
                <div *ngFor="let m of roleMenu">
                    <a [routerLink]="[m.RouterLink]" mat-list-item routerLinkActive="active">
                        <mat-icon mat-icon-button>{{m.menus.Icon}}</mat-icon> {{m.menus.MenuName}}
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <!-- <a [routerLink]="['user']" mat-list-item routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> User
                </a>
                <mat-divider></mat-divider>
                <a [routerLink]="['product']" mat-list-item routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Product
                </a>
                <mat-divider></mat-divider>
                <a [routerLink]="['inventory']" mat-list-item routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Inventory
                </a>
                <mat-divider></mat-divider>
                <a [routerLink]="['distributor']" mat-list-item routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Distributor
                </a>
                <a [routerLink]="['sales-order']" mat-button routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Sales Order
                </a>
                <mat-divider></mat-divider>
                <a [routerLink]="['customer']" mat-list-item routerLinkActive="active">
                    <mat-icon mat-icon-button>money</mat-icon> Customer
                </a> -->
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>