<!-- <mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">PAGE_1 WORKS!</span>
</mat-toolbar> -->
<div class="acard">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Users List</mat-card-title>
            <div class="top-right" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">


            </div>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <mat-form-field class="dd">
                <input matInput placeholder="Filter">
            </mat-form-field>

            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.UserId}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.MstRole.RoleName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="FirstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.FirstName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="LastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.LastName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.UserName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="PhoneNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.PhoneNumber}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.Gender}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Lock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lock</th>
                        <td mat-cell *matCellDef="let row">
                            <span class="mobile-label"></span>
                            <mat-checkbox [(ngModel)]='row.Lock' [disabled]="true"></mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let row">


                            <button mat-icon-button color="primary" *ngIf="rolesPermission.EditPermission == true">
                                <mat-icon aria-label="Edit" (click)="edituser(row)">edit</mat-icon>
                            </button>
                            &nbsp;
                            <button mat-icon-button color="primary" (click)="lockunlock(row)">
                                <mat-icon>
                                    lock_open
                                </mat-icon>
                            </button>
                            &nbsp;
                            <button mat-icon-button color="primary" (click)="generatePassword(row)">
                                Generate Password
                            </button>

                            <!-- <button mat-icon-button color="warn" (click)="delete(row)">
                                <mat-icon>delete</mat-icon>
                            </button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 5, 10, 15]"></mat-paginator>
            </div>
        </mat-card-content>

    </mat-card>
</div>