/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-color {background-color: #187868; color: white;}
.router-link-active {background-color: #187868;}
.no-border {border-radius: 0px;}

.toolbar-color {background-color: #187868; color: white;}
.center {
  margin-left: auto;
  margin-right: auto;
}
.v-center {
  margin-top: auto;
  margin-bottom: auto;
}

.txt-bold {font-weight: bold;}

.selected {background-color: gainsboro;}
