<div>
    <h2 fxLayoutAlign="center center">Generate Password</h2>
    <form fxLayout="column" [formGroup]="fg">


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput placeholder="Password" formControlName="Password" readonly>
                </mat-form-field>

            </div>
            <div class="col-md-2">
                <mat-icon style="margin-top: 20px;" (click)="generatePassword(8)">visibility</mat-icon>
            </div>

        </div>



        <div style="display: inline-flex;float: right;margin-top: 10px;" fxLayoutGap="5px"
            fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="submit()">
                Save</button>
            <button mat-flat-button color="warn" (click)="cancel()"> Cancel</button>
        </div>

    </form>

</div>