.group-heading{
    margin: 2px;
    padding: 5px;
    border-bottom: 1px solid rgb(0, 112, 240);
    background-color:#e69cff; 
    border-radius: 5px;
  }
  .span{
    padding:  5px;
     margin: 10px;
  }
  .lable{
    margin: 10px;
    padding:  15px;
  }
  mat-form-field{
    width:40%;
    height: 60px;
  }
  .specer{
    flex: 1 1 auto;
  }

  button{
    min-width: 130px;
  line-height: 45px;
  margin-top: 5px;
}
  